
.icon{
    height: 90px;
    width: 90px;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackIcon{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.img{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.content{
    text-align: center;
    padding: 10px;
}
.guarantee, .service, .delivery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}