.bannerContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 600px;
}

/* ===== LEFT SECTION ===== */
.leftSection {
  flex: 1;
  position: relative;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== COMMON BANNER STYLES ===== */
.bannerItem {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.bgImage {
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* transition: transform 0.4s ease, filter 0.4s ease;
  filter: brightness(0.9); */

}

/* .bannerItem:hover .bgImage {
  transform: scale(1.05);
  filter: brightness(0.7);
} */

.textContent {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: white;
  z-index: 2;
}

.textContent h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.textContent p {
  font-size: 0.95rem;
  margin-bottom: 10px;
  color: #ddd;
}

.textContent a {
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

/* ===== RIGHT SECTION STYLES ===== */
.topBanner {
  flex: 1.2;
}

.bottomRow {
  flex: 1;
  display: flex;
  gap: 10px;
}

.smallBanner {
  flex: 1;
}

/* ===== BACKGROUND IMAGES ===== */
.ps5 {
  background-image: url("../../public/assets/imgs/ps5.png");
  background-size: contain;
  
}

.women {
  background-image: url("../../public/assets/imgs/women.png");
    background-size: contain;
}

.speakers {
  background-image: url("../../public/assets/imgs/speaker\ \(2\).png");
  background-size: contain;
}

.perfume {
  background-image: url("../../public/assets/imgs/perfumes.png");
  background-size: contain;
}