.HomeBanner{
    padding: 0 20px;
    width: 100%;
    height: 400px;
    background-color: #000000;
    
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#1f1f1f 0%, rgb(53, 53, 53) 30%, #000000 70%);
}
.bgimg{
    width: 500px;
    height: 420px;
    background-image: url(../../public/assets/imgs/BOOMBOX.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.content{
    color: #fff;
    padding: 30px;
}
.content p{
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(57, 255, 57);
}
.content h1{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 20px;
}

.circles{
    font-size: 12px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    color: #333!important;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 30px;
}
.btn{
    background-color: rgb(57, 255, 57) ;
    padding: 10px 50px;
    color: #fff;
    border-radius: 7px;
    box-shadow: #333;
    border: none;
}