.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s ease;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
}

/* Standardize image area */
.images {
  background-color: #f5f5f5;
  /* position: relative; */
  width: 100%;
  
}

.images img {
  width: 100%;
  height: 200px;
  padding: 1rem;
  /* justify-content: center; */
  object-fit: contain;
  align-items: center;
  transition: transform 0.4s ease;
}

.images:hover img {
  transform: scale(1.05);
}

/* Content below image */
.content {
  padding: 20px;
  text-align: left !important;
}

.pricing span {
  font-weight: 600;
  color: #000;
}


/* Discount label */
.discountPercent {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  color: #fff;
  background-color: #db4444;
  font-size: 0.9rem;
  font-weight: 500;
  z-index: 2;
}


.pricing del {
  color: #999;
  font-size: 0.9rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

/* Cart */

.cart {
  background-color: #000;
  width: 100% !important;
  border-radius: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon{
    font-size: 1.4rem;
    padding-right: 5px;
}

.mySwiper1 {
  /* margin: 20px 30px; */
  padding-bottom: 80px !important; 
  
}

.black{
    color: #000;
    
}
.toprow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.button{
    padding: 10px 30px;
    border: 1px solid black;
    position: absolute;
    right: 115px;
}
.button:hover{
    background-color: #000;
    color: white;
}
