.Form{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    padding: 0 10px;
}

.mainContent{
    display: flex;
    align-items: top;
    padding: 50px;
}
.content{
    padding-right: 80px;
}
.call{
    font-size: 15px;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.contact h5{
    padding-left: 10px;
}
.mail{
    font-size: 20px;
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message{
    justify-content: center !important;
}

