.image{
    width: 100%;
    height: 600px;
    /* background-color: #CBE4E8; */
    background-image: url(../public/assets/imgs/dl.beatsnoop\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}
.form{
    /* border: 1px solid black; */
    height: auto;
    width: 500px;
    padding-left: 50px;
    padding-top: 50px;
}
.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 20px;
    
}
.links{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    
}
.links a{
    color: red;
}
.signup{
    border-radius: 5px;
    padding: 15px 40px;
    font-weight: 500;
}