.image{
    width: 100%;
    height: 600px;
    /* background-color: #CBE4E8; */
    background-image: url(../public/assets/imgs/dl.beatsnoop\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}
.form{
    /* border: 1px solid black; */
    height: auto;
    width: 500px;
    padding-left: 50px;
    padding-top: 50px;
}
.form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 20px;
    
}
.form a{
    color: #db4444;
}
.buttons{
    width: 100%;
    padding: 20px 0;
    display: inline-block;
    justify-content: space-between;
    
    
}
.signup{
    border-radius: 0;
    width: 100%;
    
}
.signup:hover{
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
}
.signupGoogle{
    border-radius: 0;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}
.signupGoogle:hover{
    border: 1px solid #db4444;
    color: #db4444;
}